body{
    text-align: center;
    background-color: rgb(169, 244, 187);
}
.btn{
    width: 200px;
    height: 200px;
     border: 8px solid black;
    border-radius: 40px;
    margin: 10px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: greenyellow;
}
.yellow{
    background-color:yellow;
}
.blue{
    background-color: rgb(226, 24, 241);
}

.flash {
    background-color: white;
}
.userFlash {
    background-color: rgb(0, 0, 0);
}